.row > div {
    display: block;
    float: left;
    width: 75px;
    height: 75px;
    border-radius: 25px;
    border: 2px solid black;
    margin-right: 5px;
    margin-bottom: 1px;
    background-repeat:no-repeat;
    background-size:contain;
    cursor: pointer;
}

.row {
    height: 100px;
    clear: both;
}

@media only screen and (max-width: 750px) {
    .row > div {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .row {
        height: 50px;
        clear: both;
    }
}

@media only screen and (max-width: 500px) {
    .row > div {
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }

    .row {
        height: 25px;
        clear: both;
    }
}

@media only screen and (max-width: 250px) {
    .row > div {
        width: 10px;
        height: 10px;
        border-radius: 2px;
    }

    .row {
        height: 10px;
        clear: both;
    }
}

.baphomet {
    background-image: url("img/baphomet.png");
}

.dunell {
    background-image: url("img/dunell.png");
}

.flame {
    background-image: url("img/flame.png");
}

.lunatic {
    background-image: url("img/lunatic.png");
}

.pig {
    background-image: url("img/pig.png");
}

.poring {
    background-image: url("img/poring.png");
}

.rocker {
    background-image: url("img/rocker.png");
}

.followsMouse {
    position: fixed;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.row > div.selected {
    border: 5px solid green;
}

button {
    display: block;
    clear: both;
    height: 50px;
    width: 200px;
}

footer {
    padding-top: 25px;
}